@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Gloria+Hallelujah&display=swap');

body{
    margin: 0;
}

#hero {
    background-color: #e35a5a;
    color: #fff;

    padding: 35px;
}

#presentation {
width: 60%;
	height: 300px;


	padding-left: 20%;
	padding-right:20%;
	padding-top: 100px;
	padding-bottom: 100px;

	border: 1px 
}

h1{
     font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
}

.lead{
     font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
}

.btn{
    display:inline-block;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    margin: 35px;
    font-size: 24px;
    color: #000000;
    text-decoration: none;
}

.btn:hover{
    color: #e35a5a;
    background-color: #494949;
}